*
!.bashrc
!.gitignore
!.gitmodules
!.tmux.conf
!.tmux
!.tmux/**
!.powerline
!.fonts
!.zshrc
!.oh-my-zsh
!.vimrc
!.aliases
!.tmux-themepack
!.tmux-cheatsheat
!.putty
!.putty/**
!.pylintrc
!.install.sh
